body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;

    /* The image used */
    background-image: url("/res/img/tugu_jam.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(2px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin: 50px;
}

.logo-small {
    max-height: 100px;
    max-width: 100px;
}

.logo-big {
    max-width: 90%;
}

.bottom-section {
    color: white;
    position: fixed;
    bottom: 0;
    margin-bottom: 60px;
    margin-left: 60px;
}

.title {
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.51), -4px 4px 4px rgba(0, 0, 0, 0.47);
    font-family: 'Roboto', sans-serif;
    /* -webkit-text-stroke: 1px black; */
}

.button-home {
    background-color: rgb(54, 116, 167);
    color: azure;
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
}

.button-home:hover{
    background-color: rgb(29, 69, 102);
    color: azure;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2), -4px 4px 4px rgba(0, 0, 0, 0.2);
}
